<div class="container mt-1">
    <div class="row app-container pt-2 pb-2" >
        <div class="col-sm-4  offset-md-1" style="width: 18rem;">
        <div class="card mb-2" >
            <div class="card-body">
            <form >
            <fieldset>
                

                <label for="startingPoint" class="text-success"><b>FROM:</b></label>
                <input type="text" name="startingPoint" id="from" class="form-control" required placeholder="Enter starting Point " >
            
            
                <label for="endingPoint" class="text-success"> <b>TO:</b></label>
                <input type="text" name="endingPoint" id="to" class="form-control" required placeholder="Enter ending Point ">
                
                <label for="ticketId" class="text-success"> <b>Ticket Id.: </b></label>
                <input type="text" name="ticketId" id="ticket" class="form-control" required placeholder="Enter Ticket Id">

                <label for="ticketNo" class="text-success"> <b>Ticket No.: </b></label>
                <input type="number" name="ticketNo" id="no" class="form-control" required placeholder="Enter Ticket No.">

                <label for="price" class="text-success"> <b>Ticket Price.: </b></label>
                <input type="text" name="price" id="money" class="form-control" required placeholder="Enter Ticet Price">


                <label for="availableDate" class="text-success"> <b>DATE: </b></label>
                <input type="date" name="availableDate" id="date" class="form-control">

                <label for="availableTime" class="text-success"> <b>Time: </b></label>
                <input type="time" name="availableDate" id="time" class="form-control"><br>

                <a href="#" class="btn btn-primary">Book Ticket</a>
            </fieldset>
            </form>
            </div>
        </div>
        </div>

        <div class="col-sm-4  offset-md-1" style="width: 18rem;">
            <div class="card mb-2">
                <div class="card-body">
                <form >
                <fieldset>
                    
    
                    <label for="startingPoint" class="text-success"><b>FROM:</b></label>
                    <input type="text" name="startingPoint" id="from" class="form-control" required placeholder="Enter starting Point " >
                
                
                    <label for="endingPoint" class="text-success"> <b>TO:</b></label>
                    <input type="text" name="endingPoint" id="to" class="form-control" required placeholder="Enter ending Point ">
                    
                    <label for="ticketId" class="text-success"> <b>Ticket Id.: </b></label>
                    <input type="text" name="ticketId" id="ticket" class="form-control" required placeholder="Enter Ticket Id">
    
                    <label for="ticketNo" class="text-success"> <b>Ticket No.: </b></label>
                    <input type="number" name="ticketNo" id="no" class="form-control" required placeholder="Enter Ticket No.">
    
                    <label for="price" class="text-success"> <b>Ticket Price.: </b></label>
                    <input type="text" name="price" id="money" class="form-control" required placeholder="Enter Ticet Price">
    
    
                    <label for="availableDate" class="text-success"> <b>DATE: </b></label>
                    <input type="date" name="availableDate" id="date" class="form-control">
    
                    <label for="availableTime" class="text-success"> <b>Time: </b></label>
                    <input type="time" name="availableDate" id="time" class="form-control"><br>
    
                    <a href="#" class="btn btn-primary">Book Ticket</a>
                </fieldset>
                </form>
                </div>
            </div>
            </div>


            <div class="col-sm-4 offset-md-1" style="width: 18rem;">
                <div class="card mb-2" >
                    <div class="card-body">
                    <form >
                    <fieldset>
                        
        
                        <label for="startingPoint" class="text-success"><b>FROM:</b></label>
                        <input type="text" name="startingPoint" id="from" class="form-control" required placeholder="Enter starting Point " >
                    
                    
                        <label for="endingPoint" class="text-success"> <b>TO:</b></label>
                        <input type="text" name="endingPoint" id="to" class="form-control" required placeholder="Enter ending Point ">
                        
                        <label for="ticketId" class="text-success"> <b>Ticket Id.: </b></label>
                        <input type="text" name="ticketId" id="ticket" class="form-control" required placeholder="Enter Ticket Id">
        
                        <label for="ticketNo" class="text-success"> <b>Ticket No.: </b></label>
                        <input type="number" name="ticketNo" id="no" class="form-control" required placeholder="Enter Ticket No.">
        
                        <label for="price" class="text-success"> <b>Ticket Price.: </b></label>
                        <input type="text" name="price" id="money" class="form-control" required placeholder="Enter Ticet Price">
        
        
                        <label for="availableDate" class="text-success"> <b>DATE: </b></label>
                        <input type="date" name="availableDate" id="date" class="form-control">
        
                        <label for="availableTime" class="text-success"> <b>Time: </b></label>
                        <input type="time" name="availableDate" id="time" class="form-control"><br>
        
                        <a href="#" class="btn btn-primary">Book Ticket</a>
                    </fieldset>
                    </form>
                    </div>
                </div>
                </div>

                <div class="col-sm-4 offset-md-1" style="width: 18rem;">
                    <div class="card mb-2" >
                        <div class="card-body">
                        <form >
                        <fieldset>
                            
            
                            <label for="startingPoint" class="text-success"><b>FROM:</b></label>
                            <input type="text" name="startingPoint" id="from" class="form-control" required placeholder="Enter starting Point " >
                        
                        
                            <label for="endingPoint" class="text-success"> <b>TO:</b></label>
                            <input type="text" name="endingPoint" id="to" class="form-control" required placeholder="Enter ending Point ">
                            
                            <label for="ticketId" class="text-success"> <b>Ticket Id.: </b></label>
                            <input type="text" name="ticketId" id="ticket" class="form-control" required placeholder="Enter Ticket Id">
            
                            <label for="ticketNo" class="text-success"> <b>Ticket No.: </b></label>
                            <input type="number" name="ticketNo" id="no" class="form-control" required placeholder="Enter Ticket No.">
            
                            <label for="price" class="text-success"> <b>Ticket Price.: </b></label>
                            <input type="text" name="price" id="money" class="form-control" required placeholder="Enter Ticet Price">
            
            
                            <label for="availableDate" class="text-success"> <b>DATE: </b></label>
                            <input type="date" name="availableDate" id="date" class="form-control">
            
                            <label for="availableTime" class="text-success"> <b>Time: </b></label>
                            <input type="time" name="availableDate" id="time" class="form-control"><br>
            
                            <a href="#" class="btn btn-primary">Book Ticket</a>
                        </fieldset>
                        </form>
                        </div>
                    </div>
                    </div>
        
            
            









    </div>
</div>
